/* universal selector */
*{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* sets bg img and color */
body {
    /* background-image:url(./images/placeholder_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center; */
    background-color: rgb(4, 4, 4);
  }
  /* sets margin right */
.nav{
    margin-right: 30px;
    margin-top: 10px;
  }
  /* sets links properties */
  a{
    color: aliceblue;
    font-size: 20px;
}
/* sets main header */
header > h1{
    float: left;
    margin-left: 80px;

}
h1{
    margin-bottom: 0px;
}

h2{
    color: white;
    
   
}
h5,p{
    color: white;
}
/* settings for a component showcasing my skill. */
  .jumbotron{
    background-color: transparent;
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
  }

  .jumbotron img{
    height: 250px;
    margin-bottom: 10px;
  }

  .jumbotron h2{
    /* margin-top: 20px; */
    font-size: 40px;
    text-align:justify;
  }
  /* testing purposes */
  /* .jumbotron img{
    height: 170px;
    margin-bottom: 20px;
    opacity: 1;
    transition: 0.6 ease;

  }
  img:hover{
    opacity: 0.5;
  } */

.card{

    text-align: center;
    background-color: transparent;
    border-color: white;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.btn{
    background-color: white;
    color: black;
    border-color: transparent;
}
.btn:hover{
    opacity: 1;
    color:white;
    background-color: black;
    border-color: transparent;
    box-shadow: 5px 7px  rgb(255, 1, 1);
}
footer{
    margin-top: 50px;
   background-color: rgb(66, 66, 66);
   height: 40px;
   color: white;
   text-align: center;
   font-size: 18px;
}