*{
    color: aliceblue;
}
/* sets bg img and color */
body {
    background-image:url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-color: rgb(4, 4, 4);
  }
  /* sets margin right */
  .nav{
    margin-right: 30px;
  }
  /* sets links properties */
  a{
    color: aliceblue;
}
/* sets main header */
header > h1{
    float: left;
    margin-left: 30px;
}


  .jumbotron{
    background-color: transparent;
  }